<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AP Vieing Room Demo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="site-header">
        <a href='/' class="placeholder">AP header here</a>
    </header>
    <main class="site-content">
        {{content}}
    </main>
        <footer class="site-footer">
            <span class="placeholder">AP footer here</span>
        </footer>
        <script src="/assets/site.js"></script>

</body>
</html>