---
layout: base
---
<header class="detail-banner">
    <div class="detail-slider">
        <img src="/assets/art.jpg" alt="">
    </div>
    <aside class="detail-meta">
        <h2>
            <span>Max Kohler</span>
            Splash 14
            </h2>
        <ul class="meta-items">
            <li class="meta-item">
                <span>Year</span>
                2018
            </li>
            <li class="meta-item">
                <span>Dimensions</span>
                120cm x 153cm x 31cm 6'11'' x 7'6'' x 1'2''
            </li>
            <li class="meta-item">
                <span>Medium</span>
                Automated marker drawing on paper
            </li>
            <li class="meta-item">
                <span>Price</span>
                £3,400
            </li>
        </ul>
        <a href="./inquire.html" class="btn">Inquire</a>
    </aside>
</header>
<article class="vr-detail">
    <p class="vr-copy">This is some more copy specifically about the artwork featured above. Was this piece featured in an exhibition? Is it part of some larger body of work?</p>
    <p class="vr-copy">Then copy about the artist in general, which will stay the same for multiple pieces of work. I think this can be quite rich, with images, links, quotations used where possible - essentially a mini-article. As Alex points out: the more expensive the artwork, the more time we should invest in this.</p>
</article>