---
layout: base
---
<div class="vr">
    <p class="vr-copy">
        Each month, the <em>Viewing Room</em> features a new selection of original artwork for sale, curated by Assembly Point. To gain access, please provide your email address below.
    </p>
    <form action="#" class="vr-signup" autocomplete="off">
        <label for="email">Email</label>
        <input type="email" name='email' required placeholder='you@example.com'>
        <a href='./vr-feed.html' class='btn'>Enter</a>
    </form>
    <p class="vr-note">
        By sharing your details you agree to our Privacy Policy, Terms and Conditions and will receive gallery newsletters.
    </p>
</div>